.lineCounterDisplay {
    background-color: var(--backgroundColor-LineContent);
    color: var(--textColor-MainBar);
    line-height: 18px;
}

.textEditorDisplay {
    word-break: normal;
    white-space: pre-wrap;
    color: var(--textColor-Editor);

}

.contener {
    overflow: auto;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix{
    padding: 0 ;
    border: 0;
}

.numberLine {
    padding-right: 5px;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple  {
    background-color: var(--backgroungcolor-App);
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline  {
    background-color: var(--backgroungcolor-App);
}




